@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

body {
    display: flex;
    background-color: #eee;
    font-family: 'Lato', sans-serif;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
#page-wrapper {
    position: relative;
  }
li {
    list-style: none;
}
header {
    position: fixed;
    top: 0;
    min-height: 75;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    background-color: #eee;
}
@media (max-width: 600px) {
    header {
      flex-wrap: wrap;
    }
  }
  .logo {
    width: 60vw;
  }
  
  @media (max-width: 650px) {
    .logo {
      margin-top: 15px;
      width: 100%;
      position: relative;
    }
  }
  
  .logo > img {
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
  }
  
  @media (max-width: 650px) {
    .logo > img {
      margin: 0 auto;
    }
  }
  
  